[submodule "vendor/rxjs"]
	path = vendor/rxjs
	url = https://github.com/ReactiveX/rxjs.git
	ignore = untracked
[submodule "vendor/vite"]
	path = vendor/vite
	url = https://github.com/vitejs/vite.git
	ignore = untracked
[submodule "vendor/redux"]
	path = vendor/redux
	url = https://github.com/reduxjs/redux.git
	ignore = untracked
